@font-face {
    font-family: 'WindyLavender';
    src: url('./fonts/WindyLavender.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-face-name: BMEULJIROTTF;
    src:url('./fonts/BMEULJIROTTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* input과 textarea의 placeholder 스타일 */
input::placeholder, textarea::placeholder {
    color: #ff1616;  /* placeholder 색상 */
}

.ant-select-show-search:where(.css-dev-only-do-not-override-14i19y2).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 20px;
}
body{
    font-family: 'WindyLavender', 'BMEULJIROTTF';
}